examples/APRS TX Example.json
[
    {
        "id": "facc645f675b4edb",
        "type": "inject",
        "z": "ddb3a781ad93fd30",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "4dcaf58855cf6f5c"
            ]
        ]
    },
    {
        "id": "4dcaf58855cf6f5c",
        "type": "function",
        "z": "ddb3a781ad93fd30",
        "name": "Create WorldMap JSON",
        "func": "// APRS TX Node uses WorldMap serialized data:\nmsg.payload = {\n    'name': 'taco',\n    'lat': '1.2',\n    'lon': '2.3',\n    'comment': 'test comment'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "c7e8882480629822",
                "91ef4a8dada70d84"
            ]
        ]
    },
    {
        "id": "a1f2a2e37a29e6fe",
        "type": "comment",
        "z": "ddb3a781ad93fd30",
        "name": "APRS TX Example",
        "info": "This example creates a test WorldMap payload, serializses it as an APRS packet, and sends it to the APRS-IS backbone.",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "91ef4a8dada70d84",
        "type": "aprs tx",
        "z": "ddb3a781ad93fd30",
        "name": "",
        "aprsConfig": "",
        "from": "",
        "to": "",
        "via": "",
        "x": 780,
        "y": 260,
        "wires": []
    }
]